<template name="Query_image_selection">
  <div class="col s12 m4 l3" style="overflow-y: auto; height: 100vh">
    <div class="row">
      {{#each query in queries}}
        <div class="col s4">
          <a href="">
            <img class="responsive-img example-img" id="{{query._id}}" src="{{query.imageUrl}}">
          </a>
        </div>
      {{/each}}
    </div>
    {{#if currentQuery}}
      <img class="responsive-img" src="{{currentQuery.imageUrl}}">
      <div class="center-align">
        <a id="search-button" class="waves-effect waves-light btn">buscar</a>
      </div>
    {{/if}}
  </div>
</template>