<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821284858996-vnudv91deaad73bihibcpc9o2mkrmbog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821284858996-vnudv91deaad73bihibcpc9o2mkrmbog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821284858996-dal1ca4rsdaqf6uf9gkhbrsomqkj6rdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKLr-kMM_XR-zR7IlBOOoeE2qr2rNvD-4</string>
	<key>GCM_SENDER_ID</key>
	<string>821284858996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cocum.app</string>
	<key>PROJECT_ID</key>
	<string>cocum-c364c</string>
	<key>STORAGE_BUCKET</key>
	<string>cocum-c364c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821284858996:ios:0b701899de33ba89</string>
	<key>DATABASE_URL</key>
	<string>https://cocum-c364c.firebaseio.com</string>
</dict>
</plist>